#table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-variant: small-caps;
    text-align: center;
    margin: 0 auto;
    font-size: 400;
}
  
#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    font-variant: small-caps;
    background-color: #f2f2f2;
    
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3f4740;
    color: white;
    font-variant: small-caps;
    text-decoration: underline;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 4px 4px 10px #3f4740;
    font-variant: small-caps;
}
button {
    background-color: #3e6443;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  